<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Todo</title>

        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <nav>
            <h1>Edit Todo</h1>
        </nav>
        <section>
            <form action="{{ url_for('todo.update') }}" method="post">
                <input type="hidden" name="id" value="{{todo.id}}">
                <input type="text" name="task" placeholder="task" value="{{todo.task}}">
                <button>确认</button>
                <a href=" {{url_for('todo.index')}} "><input type="button" value="取消"></a>
            </form>
        </section>
    </body>
</html>